.homecontent{
    background:url(/assets/1.jpg) no-repeat 0px 0px;
    min-height: 800px;
    -webkit-background-size: cover;
    text-align: center;
}

.w3_banner_info {
    margin: 0px !important;
    /* padding: 90px 60px; */
    /* width: 80%; */
    text-align: center;
    color: #fff !important;
}
.w3_banner_info_grid{
    margin: 0px !important;
    /* padding: 0px 80px !important;  */
}

.reset-margins{
    margin:0px !important;
}

.w3_banner_info_grid h3 {
    font-size: 3.5em;
    font-family: "Exo 2", sans-serif;
}

.wthree_banner_grids{
    margin: 0px !important;
    padding-top: 80px;
}

.center-header{
    font-size: 3.8em;
    letter-spacing: 3px;
    color: #fff;
    line-height: 1.3em;
    text-transform: uppercase;
    padding: 0px 190px!important;
}

.fixedHeight{
    width: 644.500px !important;
    height:300px !important; 
}