<div class="homecontent">

  <div class="w3_banner_info">
    <div class="w3_banner_info_grid">
      <h3 class="test">
        <span>ATTRACTIVE HOME PURCHASE</span><br/>
        <span>OFFERS</span>
      </h3>
      <p>We deal with different kinds of properties
        <span>Start browsing now!</span>
      </p>
    </div>
    <div class="wthree_banner_grids">
      <div class="col-xs-3 wthree_banner_grid">
        <i class="fa fa-key" aria-hidden="true"></i>
        <h4>Rentals</h4>
      </div>
      <div class="col-xs-3 wthree_banner_grid">
        <i class="fa fa-clock-o" aria-hidden="true"></i>
        <h4>Mortgage</h4>
      </div>
      <div class="col-xs-3 wthree_banner_grid">
        <i class="fa fa-building-o" aria-hidden="true"></i>
        <h4>Office spaces</h4>
      </div>
      <div class="col-xs-3 wthree_banner_grid">
        <i class="fa fa-money" aria-hidden="true"></i>
        <h4>Loans</h4>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>

</div>
