<div class="navtop row bg-primary">
  <div class="navheader col-sm-5">
    <img src="">
  </div>

  <div class="col-sm-7" style="padding: 8px 8px !important;text-align: right;">
    <nav class="navbar navbar-dark bg-primary ">
      <a href="/#/home" class="active">Home</a>
      <a href="/#/admin">Admin</a>
      <a href="/#/home">Gallery</a>
      <a href="/#/home">Web Icons</a>
      <a href="/#/home">Short Codes</a>
      <a href="/#/home">Mail Us</a>
      <input class="form-control mr-sm-2" style="max-width:80px; max-height: 56px!important;padding: 0px!important;" type="search" placeholder="Search" aria-label="Search">
    </nav>
  </div>
</div>
